### Linear Regression model

Suppose we want to predict the number of hours an employee spends commuting based on two factors: distance from home to workplace and mode of transportation. This could be useful for government agencies to plan transportation infrastructure or offer commuting benefits.

Here are the steps:

1. **Data Collection**: Gather data on the distance from home to workplace (in kilometers) and the mode of transportation (e.g., car, public transit, bicycle) for a sample of government employees. Also, record the actual number of hours each employee spends commuting.

2. **Data Preparation**: Organize the data into a table with columns for distance, mode of transportation, and hours spent commuting.

3. **Feature Engineering**: Convert categorical data (like mode of transportation) into numerical values using techniques like one-hot encoding. For example, if the modes of transportation are 'car', 'public transit', and 'bicycle', you could represent them as [1, 0, 0], [0, 1, 0], and [0, 0, 1] respectively.

4. **Splitting Data**: Divide the dataset into training and testing sets. The training set will be used to train the linear regression model, and the testing set will be used to evaluate its performance.

5. **Model Training**: Train the linear regression model using the training dataset.

6. **Model Evaluation**: Evaluate the performance of the trained model using metrics like Mean Absolute Error (MAE), Mean Squared Error (MSE), or R-squared (R^2) on the testing dataset.

7. **Prediction**: Once the model is trained and evaluated, you can use it to predict the commute time for new data points.

Let's consider a simplified example:

Suppose we have data from five government employees:

| Distance (km) | Mode of Transportation | Hours Spent Commuting |
|----------------|------------------------|-----------------------|
| 10             | Car                    | 1.5                   |
| 15             | Public Transit         | 2.0                   |
| 5              | Bicycle                | 1.0                   |
| 20             | Car                    | 2.5                   |
| 8              | Public Transit         | 1.8                   |

Now, let's build a Linear Regression model based on this data. We'll follow the steps outlined above, and once we have the model, we can predict the commute time for new data points based on distance and mode of transportation.

1. **Save Data as CSV**:
   First, we'll save the data you provided into a CSV file named `commute_data.csv`.

In [8]:
import pandas as pd

# Create a larger sample dataset
data = {
    'Distance': [10, 15, 5, 20, 8, 12, 18, 6, 25, 10, 14, 22, 7, 17, 9, 16, 13, 21, 11, 19],
    'Mode': ['Car', 'Public Transit', 'Bicycle', 'Car', 'Public Transit', 'Car', 'Public Transit', 'Bicycle', 
             'Car', 'Public Transit', 'Car', 'Public Transit', 'Bicycle', 'Car', 'Public Transit', 'Car', 
             'Public Transit', 'Car', 'Bicycle', 'Public Transit'],
    'Hours': [1.5, 2.0, 1.0, 2.5, 1.8, 1.7, 2.3, 1.2, 3.0, 1.5, 1.9, 2.6, 1.3, 2.2, 1.7, 2.1, 1.8, 2.7, 1.6, 2.4]
}

# Create DataFrame
df = pd.DataFrame(data)

df

    Distance            Mode  Hours
0         10             Car    1.5
1         15  Public Transit    2.0
2          5         Bicycle    1.0
3         20             Car    2.5
4          8  Public Transit    1.8
5         12             Car    1.7
6         18  Public Transit    2.3
7          6         Bicycle    1.2
8         25             Car    3.0
9         10  Public Transit    1.5
10        14             Car    1.9
11        22  Public Transit    2.6
12         7         Bicycle    1.3
13        17             Car    2.2
14         9  Public Transit    1.7
15        16             Car    2.1
16        13  Public Transit    1.8
17        21             Car    2.7
18        11         Bicycle    1.6
19        19  Public Transit    2.4

In [9]:
# Save to CSV
df.to_csv('commute_data.csv', index=False)

2. **Read Data and One-Hot Encoding**:
   Now, we'll read the CSV file and perform one-hot encoding on the 'Mode' column.

In [10]:
# Read CSV
df = pd.read_csv('commute_data.csv')
df

    Distance            Mode  Hours
0         10             Car    1.5
1         15  Public Transit    2.0
2          5         Bicycle    1.0
3         20             Car    2.5
4          8  Public Transit    1.8
5         12             Car    1.7
6         18  Public Transit    2.3
7          6         Bicycle    1.2
8         25             Car    3.0
9         10  Public Transit    1.5
10        14             Car    1.9
11        22  Public Transit    2.6
12         7         Bicycle    1.3
13        17             Car    2.2
14         9  Public Transit    1.7
15        16             Car    2.1
16        13  Public Transit    1.8
17        21             Car    2.7
18        11         Bicycle    1.6
19        19  Public Transit    2.4

In [13]:
# Perform one-hot encoding
df_encoded = pd.get_dummies(df, columns=['Mode'])
df_encoded

    Distance  Hours  Mode_Bicycle  Mode_Car  Mode_Public Transit
0         10    1.5             0         1                    0
1         15    2.0             0         0                    1
2          5    1.0             1         0                    0
3         20    2.5             0         1                    0
4          8    1.8             0         0                    1
5         12    1.7             0         1                    0
6         18    2.3             0         0                    1
7          6    1.2             1         0                    0
8         25    3.0             0         1                    0
9         10    1.5             0         0                    1
10        14    1.9             0         1                    0
11        22    2.6             0         0                    1
12         7    1.3             1         0                    0
13        17    2.2             0         1                    0
14         9    1.7             0         0                    1
15        16    2.1             0         1                    0
16        13    1.8             0         0                    1
17        21    2.7             0         1                    0
18        11    1.6             1         0                    0
19        19    2.4             0         0                    1

3. **Split Data into Training and Testing Sets**:
   We'll split the data into training and testing sets, typically using 80% of the data for training and 20% for testing.

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
# Split features and target variable
X = df_encoded.drop('Hours', axis=1)
y = df_encoded['Hours']

In [16]:
# Split data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

4. **Model Building and Training**:
   Next, we'll build and train a Linear Regression model.

In [17]:
from sklearn.linear_model import LinearRegression

In [18]:
# Initialize the model
model = LinearRegression()

In [19]:
# Train the model
model.fit(X_train, y_train)

LinearRegression()

5. **Model Evaluation**:
   We'll evaluate the performance of the model on the testing set.

In [20]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [21]:
# Make predictions on the testing set
y_pred = model.predict(X_test)

In [22]:
y_pred

array([1.6365901 , 2.5388939 , 2.12875581, 2.0845951 ])

In [23]:
y_test

0     1.5
17    2.7
15    2.1
1     2.0
Name: Hours, dtype: float64

In [24]:
# Evaluate the model
mae = mean_absolute_error(y_test, y_pred)
mse = mean_squared_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)

In [25]:
print(f'Mean Absolute Error: {mae}')
print(f'Mean Squared Error: {mse}')
print(f'R-squared: {r2}')

Mean Absolute Error: 0.10276177919644702
Mean Squared Error: 0.013148814956670094
R-squared: 0.9277041102038758

6. **Prediction**:
   Finally, we can use the trained model to make predictions for new data points.

In [26]:
# Example prediction for new data
new_data = pd.DataFrame({
    'Distance': [12],
    'Mode_Bicycle': [1],
    'Mode_Car': [0],
    'Mode_Public Transit': [0]
})

In [27]:
prediction = model.predict(new_data)
print(f'Predicted commute time: {prediction[0]} hours')

Predicted commute time: 1.6646311845118307 hours